

}

.container{
max-width:0;
background-color: chocolate;
margin:left;
}
.profile-image{

    width: 100px;
    height:100px;
    border: 3px solid white;
    border-radius:100px;
    float: left;
}
.bio{
    float: left;
	padding:10px;
}
h1,h2,h3{
	
	color:#11999e;
}
.header-contact{
	
}
.header-contact a{
	text-decoration:none;
	color:teal;
	font-weight:bold;
	text-align:center-left;
}

.header-contact a:hover{
	text-decoration:underline;
	color:underline;
	
}
.div-clear{
	clear:both;
}
.hr{
	border:solid black 3px;
	width:100%;
	margin:20px auto;
	border-bottom:none;
}

/*
personal section*/
#personal-section{
	padding:none;
}
.content{
	
	
	
}


.left{
	width:70%;
	float:left;
	padding:none;
	
	
}
.right{
	width:70%;
	float:right;
	padding:none;
}

.common-hr{
	border:solid black 1px;
	border-bottom:none;
	width:100%;
	margin:20px;
}
#work-section{
	padding:none;
	background-color:olive;
}
.content{
	
	
	
}


.left{
	width:70%;
	float:left;
	padding:none;
	text-decoration:word-spacing 1px;
	
	
}
.right{
	width:70%;
	float:right;
	padding:none;
}

.common-hr{
	border:solid black 1px;
	border-bottom:none;
	width:100%;
	margin:0 auto;
	padding:1px;
}

.hove h1:hover{
	background-color:underline;
	
}
.bottom{
	background-color:green;
	margin:none;
	text-align:center;
}
.bottom p{
	color:red;
}
